/* Color del fondo de la pagina */
/* Color del fondo de la pagina */
.fondo {
    color: white;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-areas:
      "titulo"
      "nav"
      "main";
  }
  
  .links {
    display: flex;
    flex-direction: row;
  }
  
  .titulo-principal {
    color: white;
    background-color: rgb(24, 2, 218);
    height: 13vh;
    border: 5px black double;
    grid-area: titulo;
  }
  
  main {}
  
  nav {
    background-color: blue;
    grid-area: nav;
  }
  
  .imagenes {
    display: flex;
    justify-content: space-evenly;
  }
  
  .imagen {
    width: 300px;
    height: 250px;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
    gap: 195px;
    flex-wrap: wrap-reverse;
  }
  
  .texto {
    background-color: rgb(24, 2, 218);
    width: 300px;
    height: 150px;
  }
  
  footer {
    width: 1920px;
    height: 8vh;
    background-color: black;
    color: antiquewhite;
    grid-area: footer;
  }
  
  /* Estilos responsive */
  @media screen and (max-width: 768px) {
    /* Estilos para la imagen */
    .foto {
      width: 100%;
      margin-right: 0;
    }
  
    /* Estilos para las secciones */
    section {
      margin: 0.5em 0;
      padding: 0.5em;
    }
  }